<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Julian Henry">
        <title>LSLS | Schedule</title>
        <!-- CSS only -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/assets/css/custom.css">
    </head>
    <body>
        {% include 'navigation.html' %}
        <main>
            <div class="px-4 py-5 my-5 text-center">
                <img class="d-block mx-auto mb-4" src="/static/assets/img/ls2logo.svg" alt="" width="100" height="100">
                <h1 class="display-5 fw-bold">Lone Star Learning System</h1>
                <p class="lead mb-6">
                    What is the best time to reach you?
                </p>
                <div class="col-lg-6 mx-auto">
                    <p class="lead mb-6">
                        Select a date:
                    </p>
                </div>
                <div class="col-lg-6 mx-auto">

                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                        <div class="btn-group-vertical">
                            <input type="radio" class="btn-check" name="btnradio" id="today-btn" autocomplete="off" checked>
                              <label class="btn btn-outline-primary" for="btnradio1">Today</label>

                              <input type="radio" class="btn-check" name="btnradio" id="tomorrow-btn" autocomplete="off">
                              <label class="btn btn-outline-primary" for="btnradio2">Tomorrow</label>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6 mx-auto">
                    <p class="lead mb-6">
                        Select a time (CDT):
                    </p>
                </div>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                                        <select id="time-cdt" class="form-select form-select-lg" style="width:auto;">
                        </select>
                </div>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <button type="button" class="btn btn-primary btn-lg" style="background-color: #4CAF50;">Submit</button>
                </div>
            </div>
        </main>
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript">
            function initDropdownList( id, min, max ) {
                let date_texas = new Date(new Date().toLocaleString("en-US", { timeZone: "America/Chicago" }));
                var select, i, option;
                select = document.getElementById( id );
                const minutes = ["00","15","30","45"];
                for ( i = min; i <= max; i += 1 ) {
                    minutes.forEach(function(j)
                    {
                        if (i == 10 & j!="00"){
                            return; // my professional bedtime
                        }
                        // TODO: disable time traveling phone calls
                        option = document.createElement('option');
                        option.value = option.text = i.toString() + ":" + j;
                        select.add(option);
                    });
                }
            }
            initDropdownList( 'time-cdt', 5, 10 );
        </script>
    </body>
</html>
